{
login-container h2
{
  text-align: center
margin:0;
padding:0;
box-sizing:border-box;
font-family:Papyrus,fantasy;
}
body{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:linear-gradient(135deg,#063157,#00060a);
}
login-container{
background:#040d40;
padding:30px;
border-radius:20px;
width:300px;
text-align:h2;
box-shadow:0 4px 15px rgba(0,0,0,0.3);
}
login-container h2{
margin-bottom:20px;
}
login-container input{
width:320px;
padding:35px;
margin:10px 0;
border:1px solid #ccc;
border-radius:15px;
}
login-container button{
width:100%;
padding:10px;
background:#4facfe;
border:none;
color:#570307;
border-radius:5px;
cursor:pointer;
font-size:16px;
}
login-container button:hover{
background:#00c6ff;
}
register{
margin-top:15px;
font-size:20px;
}








